.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: rgb(90, 7, 7);
    color: white;
    justify-content: space-around;
    box-shadow: 2px 2px 7px 2px lightgray;
}

.navbar h1 {
    font-size: 2.5rem;
}

.navbar img {
    height: 5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 1rem;
    font-size: 1.1rem;
}

.navbar ul li:hover {
    color: gray;
}

.navbar a {
    text-decoration: none;
    color: white;
}